<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bootstrap layout</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
</head>

<body>

    <header style="box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;">
        <div class="container" >
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid d-flex justify-content-between">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <button class="navbar-toggler" type="button">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Features</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Pricing</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                            </li>
                        </ul>
                    </div>
                    <nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
                </div>
            </nav>
        </div>
    </header>
    <main>

        <section>
            <div class="container ">
                <div class="heading text-center py-3">
                    <h1>This is Heading</h1>
                </div>
                <div class="row">
                    <div class="container border border-dark  rounded-3 g-2 d-flex flex-wrap">
                    <div class="col-md-8 border border-danger bg-info ">Lorem ipsum dolor sit amet, consectetur
                        adipisicing
                        elit. Fugiat laudantium assumenda nulla, harum vitae eveniet laborum repellat pariatur
                        praesentium recusandae ratione aperiam impedit temporibus. Accusamus provident pariatur
                        inventore impedit, veritatis veniam nemo mollitia aperiam neque tempore possimus debitis
                        delectus cum voluptatem aliquid repudiandae nesciunt unde ipsam suscipit atque hic totam fugiat.
                        Natus nihil perferendis quaerat nobis quos, labore odit! Ea nesciunt quia exercitationem quos
                        modi? In, consequatur qui molestias, nihil porro, quia beatae illum voluptas debitis sit at. Aut
                        quia, nesciunt consequatur rem quam aperiam suscipit doloribus illum officiis dicta sequi esse
                        cum consequuntur nostrum obcaecati non sapiente id deserunt libero est laborum? Aut laboriosam
                        sint eius laudantium, facilis ratione natus perspiciatis obcaecati enim debitis suscipit tempora
                        dignissimos exercitationem adipisci magnam ipsum sapiente animi assumenda! Tempora atque magnam
                        adipisci beatae libero sunt molestias pariatur maxime rerum, fugit eos consectetur vero
                        provident. Eum est eveniet nihil dolore dicta praesentium nisi explicabo tempore deleniti
                        numquam porro velit sequi laborum assumenda alias iusto repellendus, veniam quo at officia
                        dignissimos fugit earum ad? Animi voluptate earum eveniet nemo reiciendis numquam alias
                        molestias libero, molestiae fugiat eaque aliquam tempora explicabo consequuntur doloribus
                        aperiam officia ducimus atque nulla excepturi amet sapiente dolor? Culpa deleniti qui dolorum
                        quia sint aut ipsa vel praesentium porro sequi, blanditiis id? Voluptate saepe nobis explicabo
                        iure minus temporibus ea! Nisi quam vel, necessitatibus architecto similique eius ab suscipit
                        eveniet placeat adipisci temporibus distinctio quibusdam quas possimus molestias tempore illo
                        earum consequatur debitis. Ab iusto, deleniti corporis voluptate excepturi maiores earum rem.
                        Delectus tenetur, deleniti qui nulla nobis quam adipisci voluptatibus. Tempora, itaque
                        laboriosam aperiam quam ipsum harum? Impedit sunt vitae vel reiciendis est nostrum. A veniam
                        tempore in illum ipsum id sequi error voluptatibus ullam quia iure soluta ab excepturi
                        repudiandae eius optio laudantium, porro officia accusamus ad aliquam facere ipsa, laboriosam
                        placeat. Cupiditate fuga voluptatum magni earum officia architecto ipsa libero dicta! Cupiditate
                        debitis perspiciatis quidem modi. Nostrum, eum. In id doloremque non, molestiae fugiat mollitia
                        tenetur voluptatum sit magnam, eius accusantium ipsum et vitae dolorum tempore soluta neque
                        cupiditate eaque officiis repudiandae dolores cumque ipsa sunt ea. Illo voluptatibus at iusto,
                        nam eius inventore provident architecto cupiditate eum dolores voluptates. Earum sequi delectus
                        obcaecati est magnam deserunt numquam neque rem possimus sint cumque eum, nemo inventore
                        distinctio laudantium placeat odio magni, autem facilis? Cum veritatis numquam officiis, porro
                        esse voluptas molestias in rerum earum hic veniam voluptate vitae, reprehenderit asperiores,
                        quaerat libero. Culpa quidem nobis accusantium perspiciatis quo aspernatur unde ratione
                        accusamus, magnam delectus totam fugiat rerum. Consequatur, dignissimos totam optio veritatis,
                        pariatur atque quo asperiores earum, minima itaque excepturi saepe soluta cupiditate incidunt
                        enim rerum laborum? Harum minima recusandae doloremque ut dicta, dignissimos ex ab beatae
                        repudiandae quos iste ullam voluptatum, in debitis, animi ipsum tempora? Dolores, quas quo,
                        ratione sequi asperiores ut delectus ipsam totam in quod hic. Vitae fuga voluptas, aperiam
                        laborum velit aut tempora quod illo. Reiciendis iste aspernatur delectus numquam, at omnis iure
                        placeat perferendis sunt ad quasi maxime hic assumenda. Laudantium, animi unde.</div>
                    <div class="col-md-4   border border-info bg-warning p-1">
                        <ul>
                            <li>home</li>
                            <li>about</li>
                            <li>help</li>
                            <li>service</li>
                            <li>Login</li>
                        </ul>
                    </div>
                </div>
                </div>


            </div>


        </section>
    </main>
    <footer>
        <div class="container mt-5">
            <div class="card text-center">
                <div class="card-header">
                    Featured
                </div>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer text-body-secondary">
                    2 days ago
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>